rdkit>=2021.03.5
scikit-learn>=1.0.0
pytest
sqlalchemy
six
pandas
openpyxl
tables
PyYAML
jupyter
tqdm
gdown
mkdocs

loguru
google-generativeai
docling
transformers==4.44.2

requests-cache==1.1.0
apted
pydantic
jupyterlab

Werkzeug==2.0.0
jinja2==3.0.3
flask==2.0.3
gunicorn==20.0.4
flask_wtf==0.14.3
wtforms==2.3.3
redis==3.5.3
rq==1.7.0
rq-scheduler==0.10.0
flask_talisman==0.7.0
flask-session==0.3.2
Flask-JSGlue==0.3.1
flask-cors==3.0.9
Flask-Limiter==1.4
Flask-Caching==1.9.0
Flask-Security-Too==3.4.4
flask_mongoengine==1.0.0
flask_admin==1.5.6
bcrypt==3.2.0

matplotlib
networkx
xlrd
pubchempy
pyyaml
seaborn
pymed
crossrefapi
biopython
requests
tables>=3.6.1,<4.0.0
pydot
palettable
unidecode
xmltodict

bokeh==3.4.3

cirpy
natsort
openpyxl
bioservices==1.8.3

jax-unirep==2.2.0
environs
setuptools

unpywall
protobuf<=3.20.3
numpy==1.26.4
